.mobile-nav-links {
	background-color: white;
	position: fixed;
	padding: 10px 0 10px 0;
	bottom: 70px;
	left: 15vw;
	width: 70vw;
	border-radius: 25px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	font-size: 11px;
}

.mobile-nav-links i {
	font-size: 17px;
}

.mobile-nav-links a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	font-weight: 700;
	color: rgb(135, 135, 135);
}

.mobile-nav-active i,
.mobile-nav-active span {
	color: #42347b;
}

@media (min-width: 500px) {
	.mobile-nav-links {
		display: none;
	}
}
