.toc ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0 10px;
}

.toc ul li {
	margin: 3px 0;
	padding: 10px;
	background: white;
	box-shadow: 0 5px 6px -6px black;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 700;
	color: #42347b;
}

.toc-title {
	color: #42347b;
	font-size: 20px;
	margin: 0 7px;
}

@media (hover: hover) {
	.toc ul li:hover {
		text-decoration: underline;
		cursor: pointer;
		transform: translateY(-2px);
	}
}
