.series-card-container {
	display: inline-block;
	background: white;
	box-shadow: 0 5px 6px -6px black;
	border-radius: 10px;
	width: 100%;
	height: 45vw;
	margin: 3px;
}

@media (hover: hover) {
	.series-card-container a:hover {
		text-decoration: none;
	}
	.series-card-container:hover {
		transform: translateY(-2px);
		transition: ease-in-out 0.17s;
	}
}

.series-card {
	display: block;
	height: 100%;
	background-size: cover;
	color: white;
	border-radius: 10px;
}

.series-card-info-overlay {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: inherit;
}

.series-card img {
	width: 100%;
	height: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.series-card h3 {
	margin: 10px;
	font-size: 27px;
	max-width: 70%;
}

@media (min-width: 770px) {
	.series-card-container {
		width: calc(50vw - 12px);
		max-width: 500px;
		height: 225px;
	}
}
