html,
body {
	background: #f2f2f2;
}

a {
	color: #42347b;
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

button {
	background-color: #42347b;
	color: white;
	padding: 10px;
	margin: 5px;
	border: 2px solid #42347b;
	font-size: 15px;
}

button:focus {
	outline: none;
}

button:active {
	filter: brightness(0.6);
	transform: translateY(2px);
}
main {
	margin: 0 auto;
}

.page-header {
	color: #42347b;
	margin: 10px 5px;
}
.err {
	border: 2px solid red;
	outline: none;
}

button.err {
	background-color: red;
}

.err-text {
	color: red;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}
