.app-logo {
	width: 150px;
	padding: 10px 15px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background: #ffffff;
}

.nav-links {
	margin: 0 10px;
	display: none;
	justify-content: space-evenly;
	flex-direction: row;
	font-size: 11px;
	overflow: hidden;
}

.nav-links i {
	font-size: 17px;
}

.nav-links a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	font-weight: 700;
}

@media (min-width: 500px) {
	.nav-links {
		display: flex;
	}
}
